body {
    background-color: rgb(238,239,243);
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}


nav {
    margin: 15px 5px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
  }
.entry {
    font-family: 'Noto Sans JP', sans-serif;
}
ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    /* any-link: none; */
}

.log-in  {
    background-color: rgb(222,223,227);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.sign-up {
    margin-right: 19px;
    text-decoration: none;
    border-color: rgb(38,38,38);
    background-color: rgb(38,38,38);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    color: white;
}


.container {
    padding: 10px 1.6%;
}

.rows {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.offer {
    /* margin-top: 40px; */
    margin-left: 20px;
    background-color: rgba(38,38,38);
    border-radius: 4%;
    height: 530px;
    flex-basis: 43.5%;
}

.col-2 {
    flex-basis: 53%;
}
.blog {
    background-color: rgb(215,216,220);
    border-radius: 26px;
    height: 54%;
}

.col-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 48%;
}

.about {
    background-color: rgb(179,134,253);
    flex-basis: 48.5%;
    margin: 15px 0 0  0;
    border-radius: 25px; 
    height: 90%;
   
}

.contact {
    background-color: rgb(177,240,65);
    flex-basis: 48.5%;
    margin: 15px 0 0  0;
    border-radius: 25px; 
    height: 90%;
}


@media (max-width: 450px) {
    nav, ul {
        flex-direction: column;
    }
    .entry {
        margin-top: 10px;
    }
}

@media (min-width: 800px) {
    ul {
        max-width: 35%;
    }
}