body {
    background-color: rgb(238,239,243);
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    /* user-select: none; */
}

nav {
    margin: 20px 5px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}
.entry {
    font-family: 'Noto Sans JP', sans-serif;
}
ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.log-in  {
    background-color: rgb(222,223,227);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.sign-up {
    margin-right: 21.5px;
    text-decoration: none;
    border-color: rgb(38,38,38);
    background-color: rgb(38,38,38);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    color: white;
}


.container {
    padding: 10px 2%;
}
.rows {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.offer {
    /* margin-top: 40px; */
    /* margin-left: 10px; */
    font-weight: 500;
    background-color: rgba(38,38,38);
    border-radius: 4%;
    height: 530px;
    flex-basis: 45%;
}
.offer-content {
    margin: 40px;
}
.more {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(238,239,243, 0.8);
    font-size: small;
}
.info {
    color: rgb(238,239,243);
    font-size: 10vh;
    margin-top: 20px;
}
.shop {
    background-color: rgb(238,239,243);
    border-radius: 10px;
    padding: 2px 40px;
    font-size: 11px;
    width: 30%;
    color: black;
    margin-top: 26%;
}
.shop-s {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: smaller;
    color: rgba(129, 122, 122, 0.9);
}
.products {
    font-size: 15px;
    font-weight: 500;
    margin: 3px 0 10px;
}

.col-2 {
    flex-basis: 54%;
}
.blog {
    background-color: rgb(215,216,220);
    border-radius: 26px;
    height: 54%;
}

.col-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 48%;
}
.about {
    background-color: rgb(179,134,253);
    flex-basis: 49%;
    margin: 15px 0 0  0;
    border-radius: 25px; 
    height: 90%;
   
}
.contact {
    background-color: rgb(177,240,65);
    flex-basis: 49%;
    margin: 15px 0 0  0;
    border-radius: 25px; 
    height: 90%;
}


@media (max-width: 450px) {
    nav, ul {
        flex-direction: column;
    }
    .entry {
        margin-top: 10px;
    }
    .container {
        padding: 3%;
    }

    .rows{
        display: block;
    }

    .offer{
        height: 420px;
    }
    .offer-content{
        margin: 20px;
    }
    .more{
        padding-top: 20px;
        margin: 0;
    }
    .info{
        font-size: 5vh;
    }
    .shop{
        margin-top: 30%;
    }

    .blog{
        margin-top: 8px;
        height: 200px;
    }

    .col-3 {
        margin-top: 10px;
        height: 220px;
    }
    .about, .contact {
        margin: 0;
    }
}
/* 
@media (min-width: 352) {
    .offer{
        height: 300px;
    }
    .offer-content{
        margin: 20px;
    }
    .more{
        padding-top: 20px;
        margin: 0;
    }
    .info{
        font-size: 6vh;
    }
} */